@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: rgb(7, 5, 12);
  color: white;
}

#nav-gradient {
  background: rgb(12, 28, 53);
  background: linear-gradient(
    119deg,
    rgba(12, 28, 53, 0.47524947478991597) 0%,
    rgba(11, 18, 55, 0.73043154761904767) 100%
  );
}
